/* https://html5book.ru/krasivoe-oformlenie-tablic/#part8 */
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}
caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #E8E6D1;
}
tr.list:hover {
    background: yellow;
    cursor: pointer;
}
.error {
    color: red;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

/*  */
.btn.success {background-color: #4CAF50;} /* Green */
.btn.success:hover {background-color: #46a049;}

/*  */
* {
    box-sizing: border-box;
}

/* Style the search field */
div.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
div.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

div.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
div.example::after {
    content: "";
    clear: both;
    display: table;
}

/* */
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}